/* your code here */
.top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 5vw;
	padding: 10px;
}
.media-icons{
	display: flex;
	margin-left: 30px;
	
}
img {
	width: 30px;
	border-radius: 50%;
}

.link-boxes{
	display: flex;
	text-align: left;
	width: 100%;
}
 
td,th {
	padding: 10px
}
.bottom-details {
	display: flex;
	justify-content: space-around;
	background-color: grey;
}
a{
	text-decoration: none;
	color: black;
}

